body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-brown-100: rgba(114, 32, 32, 0.4);
  --color-black: #000;
  --color-gray-100: #1c1c1c;
  --color-lavender: #f0edff;
  --color-dimgray: #525252;

  /* border radiuses */
  --br-base: 16px;
}
